.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
} 

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}


/* Custom Scrollbar for Dark Theme */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2c2c2c; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded edges for the track */
}

::-webkit-scrollbar-thumb {
    background: #4a4a4a; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded edges for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #6a6a6a; /* Color when hovered */
}

::-webkit-scrollbar-thumb:active {
    background: #888; /* Color when active */
}
